<div role="navigation" class="oj-web-applayout-max-width oj-web-applayout-navbar">
  <div data-bind="ojComponent: {component: 'ojNavigationList',
    navigationLevel: 'application', display: smScreen() ? 'icons' : 'all',
    item: {template: 'navTemplate'}, data: dataSource, optionChange: menuChange,
    selection: selectedNavItem, edge: 'top'},
    css: smScreen() ? '' : 'oj-md-condense oj-md-justify-content-flex-end'">
  </div>
</div>
<script type="text/html" id="navTemplate">
  <li><a href="#">
    <span data-bind="css: iconClass"></span>
    <!-- ko text: name --> <!--/ko-->
  </a></li>
</script>